@model ProjetoKeener.Models.FornecedorViewModel

@{
    ViewData["Title"] = "Detalhes do fornecedor: " + Model.Nome;
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipoFornecedor)
        </dt>
        <dd>
            @if (Model.TipoFornecedor == ProjetoKeener.Entidades.Tipos.EnumFornecedor.PessoaFisica)
            {
                Model.Tipo = "Pessoa Física";
            }
            else
            {
                Model.Tipo = "Pessoa Jurídica";
            }
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
    <a class="btn btn-info" asp-action="Index">Voltar</a>
</div>
